<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: rgb(216, 216, 216); padding: 10px;">
        <a href="/admin">Home</a>
        <a href="/admin/course">list course</a>
        <a href="/admin/add-category">add category</a>
      </div>
    <h1>add category</h1>

    <form action="/admin/add-category" method="POST">
        <label>name</label>
        <div>
            <input type="text" name="name" />
        </div>
        <input type="submit" value="SUBMIT"/>
    </form>
</body>
</html>