<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="background-color: rgb(216, 216, 216); padding: 10px;">
        <a href="/user">Home</a>
        <a href="/user/course">Course</a>
        <a href="/user/profile">User Profile</a>
    </div>
    <h1>Daftar Course</h1>
    <div>
        <table border ="1">
            <thead>
              <tr>
                <th scope="col">No</th>
                <th scope="col">Nama Kategori</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% category.map(function(el, i) { %>
                    <tr>
                      <th scope="row"><%= i+1 %></th>
                      <td><%= el.name %></td>
                      <td>
                        <a href="/user/category/<%= el.id %>" button type="button"><button class="btn btn btn-primary">Show Course</button></a>
                      </td>
                    </tr>
                <% }) %> 
            </tbody>
          </table>
    </div>
</body>
</html>